<!-- Default home page -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div layout="column" flex>
  <div class="nav" ng-controller="NavCtrl">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Home">
          <md-icon>sms</md-icon>
        </md-button>
        <h2 flex md-truncate>SMS Dashboard</h2>
      </div>
    </md-toolbar>
    <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#!/" name="inbox"><md-icon>inbox</md-icon> Inbox</md-nav-item>
      <md-nav-item md-nav-href="#!contacts" name="contacts"><md-icon>group</md-icon> Contacts</md-nav-item>
    </md-nav-bar>
  </div>
  <md-content flex ng-view layout-padding></md-content>
</div>
